<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Index | Hotel</title>
	<link rel="stylesheet" th:href="@{/main.css}">
	<link rel="stylesheet" th:href="@{/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/normalize.css}">
</head>

<body>

	<div id="container">

		<!-- Header -->
		<header id="header" class="clearfix">
			<div class="logo" >
					<img src="images/logo.png" alt="logo" style = "height: 120%;margin:10px auto">
			</div>
			<nav id="main-navigation">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Accomodation</a></li>
					<li><a href="#">Dining</a></li>
					<li><a href="#">Wedding</a></li>
					<li><a href="#">Gallery</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<div id="banner">
			<img src="images/background.jpg" alt="bg">

			<div class="form">
				<div class="wrapper">
					<div class="inner-wrapper">
						<form action="#">
							<ul>
								<li>
									<input type="text" placeholder="Enter your destination">
								</li>
								<li><input type="date" placeholder="Check in"></li>
								<li>
									<input type="date" placeholder="Check out">
								</li>
								<li>
									<input type="submit" value="Book Now" class="button1">
								</li>
							</ul>
						</form>
					</div>
				</div>
			</div>

		</div>

		<!-- Main content -->
		<div id="content">

			<main id="main">

				<article class="post">

					<section id="section1">
						<div class="container">

							<h2>what’s happening at hyatt</h2>
							<div class="three-col-layout clearfix">
								<div class="column">
									<div class="image">
										<a href="#">
											<img src="images/image19.jpg" alt="image">
										</a>
										<div class="read-more">
											<p>This is demo</p>
										</div>
									</div>
									<div class="desc">
										<h3 class="title">get inspired</h3>
										<p>Check out our guests' fave moments from around the world.</p>
										<a href="#">See More</a>
									</div>
								</div>
								<div class="column">
									<div class="image">
										<a href="#">
											<img src="images/image19.jpg" alt="image">
										</a>
										<div class="read-more">
											<p>This is demo</p>
										</div>
									</div>
									<div class="desc">
										<h3 class="title">get inspired</h3>
										<p>Check out our guests' fave moments from around the world.</p>
										<a href="#">See More</a>
									</div>
								</div>
								<div class="column">
									<div class="image">
										<a href="#">
											<img src="images/image19.jpg" alt="image">
										</a>
										<div class="read-more">
											<p>This is demo</p>
										</div>
									</div>
									<div class="desc">
										<h3 class="title">get inspired</h3>
										<p>Check out our guests' fave moments from around the world.</p>
										<a href="#">See More</a>
									</div>
								</div>
							</div>

						</div>
					</section>

					<section id="dining">
						<div class="container">

						</div>
					</section>

					<section id="wedding">
						<div class="container">

						</div>
					</section>

					<section id="gallery">
						<div class="container">

						</div>
					</section>

				</article>

			</main>

		</div>


		<!-- Footer -->
		<footer id="footer">
			<div class="sociable">
				<ul>
					<li class="fb"><a href="#">
							<span class="fa fa-facebook" aria-hidden="true"></span>
						</a></li>
					<li><a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
					<li><a href="#"><span class="fa fa-youtube" aria-hidden="true"></span></a></li>
				</ul>
			</div>
		</footer>

	</div>


</body>

</html>