<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Profile</title>
	<link rel="stylesheet" th:href="@{/main.css}">
	<link rel="stylesheet" th:href="@{/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/normalize.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
	<header id="header" class="header fixed-top d-flex align-items-center">
		<div class="logo">
			<img src="images/logo.png" alt="logo" style="height: 120%;margin:10px auto">
		</div>
		</div>
	</header>
</body>

</html>